/JEE7/1-lection/HelloWorldJavaEE/nbproject/private/
/JEE7/1-lection/HelloWorldJavaEE/build/
/JEE7/2-lection/HelloWorldEJB/HelloWorldEJB/nbproject/
/JEE7/2-lection/HelloWorldEJB/HelloWorldEJB/target/
/JEE7/2-lection/sms-jee/target/
/JEE7/2-lection/sms-jee/nbproject/
/JEE7/3-jpa/helloworld-jpa/nbproject/
/JEE7/3-jpa/helloworld-jpa/target/